Source: speex
Section: sound
Priority: optional
Maintainer: KwangHui Cho <kwanghui.cho@samsung.com>
Uploaders: Seungbae Shin <seungbae.shin@samsung.com>, YoungHwan Ahn <younghwan_.an@samsung.com>
Build-Depends: debhelper (>> 4.1.0), dpkg-dev (>= 1.13.19), autotools-dev, libogg-dev
Standards-Version: 3.8.0

Package: speex
Architecture: any
Depends: ${shlibs:Depends}
Description: The Speex codec command line tools
 Speex is an audio codec especially designed for compressing voice at low
 bit-rates for applications such as voice over IP (VoIP). In some senses,
 it is meant to be complementary to the Vorbis codec which places a greater
 emphasis on high-quality music reproduction.
 This package contains the encoder and decoder command-line applications.

Package: libspeex1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libogg0
Suggests: speex
Description: The Speex codec runtime library
 Speex is an audio codec especially designed for compressing voice at low
 bit-rates for applications such as voice over IP (VoIP). In some senses,
 it is meant to be complementary to the Vorbis codec which places a greater
 emphasis on high-quality music reproduction.
 This package provides the speex runtime library.

Package: libspeex-dev
Architecture: any
Section: libdevel
Depends: libspeex1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, libogg-dev
Suggests: pkg-config
Description: The Speex codec library debug (unstripped) files

Package: libspeex-dbg
Architecture: any
Section: debug
Depends: libspeex1 (= ${binary:Version})
Suggests: pkg-config
Description: The Speex codec library development files
 Speex is an audio codec especially designed for compressing voice at low
 bit-rates for applications such as voice over IP (VoIP). In some senses,
 it is meant to be complementary to the Vorbis codec which places a greater
 emphasis on high-quality music reproduction.
 This package provides the speex library headers and development files.

Package: libspeexdsp1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, libogg0
Description: The Speex extended runtime library
 Speex is an audio codec especially designed for compressing voice at low
 bit-rates for applications such as voice over IP (VoIP). In some senses,
 it is meant to be complementary to the Vorbis codec which places a greater
 emphasis on high-quality music reproduction.
 This package provides the runtime library of additional functions that
 are part of the Speex distribution.

Package: libspeexdsp-dev
Architecture: any
Section: libdevel
Depends: libspeexdsp1 (= ${binary:Version}), libspeex-dev (= ${binary:Version}), libogg0
Suggests: pkg-config
Description: The Speex extended library development files
 Speex is an audio codec especially designed for compressing voice at low
 bit-rates for applications such as voice over IP (VoIP). In some senses,
 it is meant to be complementary to the Vorbis codec which places a greater
 emphasis on high-quality music reproduction.
 This package provides the speex extended library headers and development files.

Package: libspeexdsp-dbg
Architecture: any
Section: debug
Depends: libspeexdsp1 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: pkg-config
Description: The Speex extended library debug (unstripped) files
